
<% if current_user %>
  <h1>Hello <%= get_user_name %>, what website would you like to analyze? </h1>
<% else %>
  <h1>Choose a website to analyze! </h1>
<% end %>

<form name="analyzer" id="analzyer" action="result/show" method="post">
  <input type="text" name="search_term" placeholder="Website to search" required>
  <input type="submit" value="Search">
</form>
